<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willowtreeapps.scratchlib_no_op">

    <application>
        <receiver
            android:name="com.willowtreeapps.scratchlib.ScratchReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.willowtreeapps.scratch.CLEAR_DATA" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
